html {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 400px;
}

.btn {
  margin: .25rem 0 1rem 0;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert {
  width: 30%;
  margin-bottom: 0;
  padding: .5rem;
}
