html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font: 1.4em/1.5em BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #02abe4 0%, #fff 25em, #fff 100%);
  background-color: #ffffff;
  background-repeat: no-repeat;
  color: #313137;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.header {
  padding-top: 1em;
}

.header__logo {
  background-image: url('https://static.onthebeach.co.uk/packaged-assets/application/logos/onthebeach/otb-logo-uk-blue-a091160f1e9e75766f2231aaebd73a3417befcd501b1d8dab509c1fe487d00f3.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: transparent!important;
  display: block;
  height: 4.8em;
  width: 9em;
}

.container {
  color: #17317f;
  max-width: 780px;
  padding: 0;
}

.container--white-background {
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.panel-body-title {
  margin-top: 1em;
  font-weight: bold;
}

.panel-group {
  padding-left: 1em;
  padding-right: 1em;
}

.panel-heading {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 0;
  color: #17317f;
  display: -webkit-box;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  min-height: 7em;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in;
}

.panel-heading::after {
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 300;
  font-variant: normal;
  line-height: 1;
  position: absolute;
  right: 0.25em;
  speak: none;
  text-transform: none;
  top: 0;
  content: "-";
}

.panel-heading:hover {
  background-color: #cccccc;
}

.panel-heading__message {
  display: none;
  margin-right: 1em;
}

.panel-title {
  font-weight: 300;
}

.panel-title--completed,
.panel-title--added {
  display: none;
}

.active .panel-heading {
  background-color: #0091c2;
  color: #ffffff;
}

.completed .panel-heading {
  background-color: #17317f;
  color: #ffffff;
}

.completed .panel-heading__message {
  display: inline-block;
}

a.collapsed .panel-heading::after {
  content: '+';
}

a.incomplete .panel-heading {
  background-color: #666666;
  color: #ffffff;
}

.panel-title .panel-title--complete,
.panel-title .panel-title--incomplete {
  display: none;
}

a.completed .panel-title--default,
a.completed .panel-title--incomplete {
  display: none;
}

a.completed .panel-title--complete {
  display: inline-block;
}

a.incomplete .panel-title--default,
a.incomplete .panel-title--complete {
  display: none;
}

a.incomplete .panel-title--incomplete {
  display: inline-block;
}

.panel-body {
  background-color: #f0f9fd;
}

.panel-default {
  border: 0
}

.panel-default > .panel-heading {
  color: #17317f;
}

.panel-collapse {
  transition: all 0.3s ease-in;
}

.holiday-checklist {
  border-bottom: 4px solid #fedc07;
  margin-bottom: 1em;
  padding: 1em;
}

.holiday-checklist__heading {
  line-height: 1.2em;
  padding: 1em;
  text-align: center;
}

.logo {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.logo img {
  padding-right: 1em;
}

.holiday-checklist__title {
  font-size: 1.75em;
}

@media only screen and (min-width: 500px) {
  .stepguide {
    display: flex;
  }
  .step {
    max-width: 25%;
  }
  .stepguidelist {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .step {
    display: flex;
    text-align: left;
  }
  .stepguide {
    display: none;
  }
  ul {
    list-style: none;
    text-align: left;
    padding: 1px 0;
  }
  li {
    margin: 10px 0;
  }
  .point {
    font-weight: bold;
  }
}

.step {
  text-align: left;
  padding: 8px;
}

.flight-details-container {
  display: -webkit-box;
  -webkit-align-items: flex-start;
  -webkit-justify-content: space-between;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flight-no{
  padding-right: .5em;
}

.flight-stats {
  text-align: right;
  padding-left: .5em;
}

.panel-body h5 {
  border-bottom: .5px solid #17317f;
}

.button {
  background-color: #fedc07;
  border: 0;
  border-bottom: 3px solid #ebc200;
  border-radius: 0.2em;
  color: #17317f;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25;
  padding: 0.732em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.button:hover, .button:focus {
  background-color: #ebc200;
  color: #17317f;
}

.button:disabled {
  cursor: not-allowed;
}

.button:disabled {
  background-color: #cccccc;
  border-bottom: 3px solid #cccccc;
  border-radius: 0.2em;
  color: #666666;
}

.button-checkout {
  margin: 1em 0;
}

.col--align-right {
  display: -webkit-box;
  -webkit-justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
}

.col--push-down {
  margin-bottom: 2em;
}

.total-divider {
  border-top: 1px solid whitesmoke;
  padding-top: 1em;
}

.basket {
  font-weight: 500;
  padding: .5em 1em;
  display: block;
}

.basket__row {
  padding-left: 1em;
  padding-right: 1em;
}

.basket__title {
  font-size: 1.25em;
}

.basket__additional-info {
  font-weight: normal;
}

.close {
  font-size: 1em;
  opacity: .7;
}

.checklist-completed,
.checklist-incomplete {
  display: none;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.continue-wrapper {
  padding: 0 1em;
}

.continue-wrapper textarea {
  font-size: 16px;
  margin-top: 1em;
  resize: none;
}

.additional-info {
  display: none;
}

.card {
  padding-top: 1em;
}

.fa-plane {
  padding: 0 0.5em;
}

.callback-text {
  display: none;
}

textarea {
  resize: none;
}

.normal-container {
  text-align: left;
}

.checklist-ancillary-product__container {
  border: .5px solid #0091C27F;
  padding: .5em;
  background-color: #FFFFFF9F;
}

.checklist-ancillary-product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.checklist-ancillary-product p {
  margin: 0;
}

.checklist-ancillary-product__price {
  font-weight: bold;
  min-width: 25%;
  text-align: right;
}

.option {
  display: none;
}

.option__selection {
  display: inline-block;
  height: 1.7em;
  /*margin-right: 1em;*/
  position: relative;
  width: 1.7em;
}

.option__selection::before {
    background-color: white;
    border: 1px solid #17317f;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
}

input[type="radio"]:checked + .option__selection::before {
  border-color: #00a5dd;
}

input[type="radio"]:checked + .option__selection::after {
  background-color: #17317f;
  border-radius: 50%;
  content: "";
  height: 1.0625em;
  width: 1.0625em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #17317f;
  left: 50%;
  position: absolute;
  top: 50%;
}

.ancillary__label {
  border-bottom: 1px solid #ffffff;
  display: -webkit-box;
  display: flex;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5em 1em;
}

.ancillary__label:hover {
  background-color: #fff;
  cursor: pointer;
}

.ancillary__left {
  display: -webkit-box;
  display: flex;
  -webkit-box: 1;
  flex: 1;
}

.ancillary__right {
  padding: 0.5em 0 0 1em;
}

.ancillary__info {
  -webkit-flex: 1;
  flex: 1;
}

.ancillary__title {
  font-size: 1em;
  font-weight: 700;
}

.ancillary__price {
  float: right;
  font-weight: 700;
  margin-top: 7px;
  text-align: right;
  width: 100%;
}

.ancillary__sub-text {
  float: right;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0.5em;
  text-align: right;
  width: 100%;
}

[data-state="complete"] .panel-heading,
[data-state="added"] .panel-heading {
  background-color: #17317f;
  color: #ffffff;
}

[data-state="incomplete"] .panel-heading {
  background-color: #666666;
  color: #ffffff;
}

[data-state="complete"] .panel-title--default,
[data-state="complete"] .panel-title--incomplete,
[data-state="complete"] .panel-title--added {
  display: none;
}

[data-state="complete"] .panel-title--complete {
  display: block;
}

[data-state="incomplete"] .panel-title--default,
[data-state="incomplete"] .panel-title--complete,
[data-state="incomplete"] .panel-title--added {
  display: none;
}

[data-state="incomplete"] .panel-title--incomplete {
  display: block
}

[data-state="added"] .panel-title--default,
[data-state="added"] .panel-title--incomplete,
[data-state="added"] .panel-title--complete {
  display: none;
}

[data-state="added"] .panel-title--added {
  display: block;
}

.form-control {
  margin: 1em 0;
}
